---
$path
---

= javascript_include_tag \
  "//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js", \
  "//code.jquery.com/ui/1.11.0/jquery-ui.js", \
  "/vender/bootstrap/js/bootstrap.min.js", \
  "{{$path}}vender/bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.js", \
  "{{$path}}vender/bootstrap-colorpickersliders/dist/tinycolor.min.js", \
  "{{$path}}javascripts/AcrosticPoem.js", \
  "{{$path}}javascripts/all.js"
